<?xml version="1.0"?>
<launch>

  <!-- Load robot model into the parameter server -->
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find my_robot)/urdf/my_robot.xacro'" />

  <!-- Publish joint states -->
  <node name="nicholas_joint_state_publisher"
        pkg="joint_state_publisher"
        type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!-- Publish robot transforms -->
  <node name="nicholas_robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        respawn="false"
        output="screen"/>

</launch>